button {
	margin: 30px 0;
	padding: 15px 0;
	height: 70%;
	width: 70%;
	font-size: 26px;
}

.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 50%;
	margin: 100px auto 0px auto;

	.filelist {
		list-style: none;
		max-height: 250px;
		overflow: auto;

		.file {
			border-bottom: 2px solid #E8EBED;
			margin: 0 10px;
			padding: 0.5em 0.625em;
			align-items: center;
			display: flex;

			.filesize {
				color: #6A6D70;
				font-weight: 400;
			}

			mat-icon {
				cursor: pointer;
			}
		}
	}
}

mat-spinner {
	position: absolute;
	top: 40%;
	left: calc(50% - 50px);
}

.transfer-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 50%;
	margin: 100px auto 0px auto;

	input {
		border: 1px solid #BABCBF;
		border-radius: 5px;
		padding: 20px;
		color: #484A4D;
		width: 50%;
		text-align: center;
	}
}